
select.multiselect_unsel {
  width: 250px;
}

select.multiselect_sel {
  width: 250px;
}

/* LABELS ABOVE FIELDS */
.multiselect_labels {
    font-weight: bold;
    color: #999;
    width: 575px;
}
.multiselect_labels .label_unselected {
    float: left;
}
.multiselect_labels .label_selected {
    float: right;
    margin-right: 145px;
}

/* FIELDS */
.multiselect_available {
  float: left;
  width: 250px; /* Fix for IE8 - http://drupal.org/node/990806 */
}

/* BUTTONS */
.fapi-multiselect-controlers {padding: 45px 10px 0 15px;}
.fapi-multiselect-controlers ul {margin: 0; padding: 0;}


a.fapi-multiselect-add {
  display: block;
  height: 38px; width: 33px;
  text-indent: -9999px;
  background: url(images/add.png) no-repeat;
  background-position: 0 0;
  padding-bottom: 15px;
}

a.fapi-multiselect-remove {
  display: block;
  height: 38px; width: 25px;
  text-indent: -9999px;
  background: url(images/remove.png) no-repeat;
  background-position: 0 0;
}
.fapi-multiselect-controlers a:hover {background-position: -33px 0px;}
.fapi-multiselect-controlers a:active {background-position: -66px 0px;}
.fapi-multiselect-controlers a:hover {background-position: -33px 0px;}
.fapi-multiselect-controlers a:active {background-position: -66px 0px;}

/* FIELD DESCRIPTION */
.multiselect .description {
    display: block;
    clear: both;
}
/* Hide the original label placement. */
.multiselect .form-item label, .form-type-multiselect .form-item label {
  display: none;
}
